h1{
  color:#FFFFF;
  background-color: Yellow;
}
h2{
  color: Blue;
}
p{
  text-index: 1cm;
}
#output{
  background-color: #E3F798;
  font-style:italic;
  color Red;
  padding:20px;
  display:inline block;
}
background-color: #
